
/* Cart CSS */
.cartContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    }
    .left{
      width: 70%;
   
    
    }
    .right{
      width: 23%;
    
      height: 400px;
   
    }
    .price{
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    .pricename{
     margin-right: 30px;
     font-size: 17px;
    
    }
    .totalprice{
      font-size: 17px;
    }
    .pricedetails{
      width: 90%;
      
      margin: auto;
      font-size: 17px;
      margin-top: 5%;
      height: 90%;
      /* border: 1px solid rgb(78, 56, 220); */
    }
    
    .price1{
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;
      /* border: 1px solid rgb(78, 56, 220); */
      width: 100%;
    }
    .pricename1{
     margin-right: 30px;
     font-size: 25px;
     font-weight: 600;
    
    }
    .totalprice1{
      font-size: 25px;
      font-weight: 600;
    }
    .placeOrder{
      background-color:#f1492c ;
      /* color: white; */
      width:100%;
      margin: auto;
      font-size: 20px;
      padding: 10px 50px;
      margin-top: 30px;
      border-radius: 30px;
    
    }