body.active-modal {
    overflow-y: hidden;
    
}
.mainLocation{
    background-image: url(https://i.ibb.co/bs0tT0M/bannerbackground.png);
    width: 100%;
    height: 500px;
    margin: auto ;
    background-position: 50%;
    background-size: cover;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin:  auto ;
    margin-top: 20px;
    font-size: 20px;
    background-color:#f1492c;
    padding: 9px 30px;
    border-radius: 30px;
    margin-bottom: 100px;
}
.btn-modal1 {
    margin: 0 auto ;
    font-size: 20px;
    background-color:#f1492c;
    padding: 9px 30px;
    border-radius: 30px;
   
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    margin-top: 100px;
    padding: 14px 28px;
    border-radius: 3px;
    /* max-width: 800px; */
    /* min-width: 700px; */
    width: 700px;
    height: 600px;
    background-image: url("https://i.pinimg.com/originals/bc/85/0f/bc850fcedb45dce673057d546b0b2810.gif");
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
table, th, td {
    border:1px solid black;
    
  }
  table{
    width: 100px;
    height: 100px;
    /* background-image: url("https://i.pinimg.com/originals/bc/85/0f/bc850fcedb45dce673057d546b0b2810.gif"); */

  }