
.container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    margin-left: 80px;
    margin-right: 80px;
    }
    .container div img{
    width:200px ;
    margin: auto;
    margin-top: 20px;
    height: 200px;
    }
    .container > div {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .description{
        margin-top: 40px;

    }
    .description h3{
        font-size: 20px;
        text-align: center;
     }
     .description h4{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
     }
     .container_D{
        width: 80%;
        margin:auto ;
        display: flex;
        margin-top: 30px;
        height: 600px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        /* border: 1px solid black; */
     }
     .name_h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 26px;
     }
     .details_D{
      margin-left: 100px;
      margin-top: 200px;
     
     }
     .lorem{
        margin-bottom: 26px;
     }
     .table img{
        margin-top: 150px;
        width: 600px;
        height: 350px;
        margin-left: 60px;
     }
     .name_D{
        margin-bottom: 26px;
        font-size: 30px;
        font-weight: 600;
     }
     .Add{
   background-color:#f1492c;
   padding: 10px 30px ;
   border-radius: 25px;
   font-size: 18px;
   font-weight: 500;
     }

    
 