/* navbar */

nav{
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;

  background-color: #fff;
 
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
 .logo{
  width: 80px;
  height: 70px;
 }
 .left_nav{
  /* border: 1px solid gray; */
  margin-left: 10px;

 }
 .right_nav{
  /* border: 1px solid gray; */
  display: flex;
  width: 25%;
  margin-right: 30px;
  justify-content: space-between
  
 }
 .Link{
  margin-top: 25px;
  font-size: 18px;
  align-items: center;
  text-align: center;
 }
 .Link:hover{
  text-decoration: underline;
 }
 .Link2{
  margin-top: 20px;
  font-size: 18px;
  align-items: center;
  text-align: center;
 }
 .nav_button{
  width: 100px;
  height: 40px;
padding-top: 5px;
  border-radius: 20px;
  background-color: #f1492c ;
 }


 /*  */
 .banner-aria {
  background-image: url(https://i.ibb.co/bs0tT0M/bannerbackground.png);
  width: 100%;
  height: 500px;
  margin: auto;
  background-position: 50%;
  background-size: cover;
}
.banner-content{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
}
.banner-content h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.banner-input input {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  margin-right: 40px;
  width: 30%;
}
.banner-input button {
  padding: 6px 30px;
  margin-left: -35px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.primary-btn {
  background:  #f1492c;
  color: #fff;
  border-radius: 30px;
  margin-left: 40px;
  /* padding: 7px 25px; */
  font-size: 18px;
  width: 130px;
  height: 43px;
}

.nav2{
  margin-top: 60px;
   width: 100%;
  height: 80px;
justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}
.nav2 div{
 margin: auto;
 /* border: 1px solid green; */
   width:25%;
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}
.hover:hover{
  color: #f1492c;
}
.hover:focus{
  text-decoration: underline;
  color: #f1492c;
}

.seeAll{
  color: #f1492c;
  font-size: 17px;
}
/* ////////////////////Button Module */
.button {
  padding: 1rem;
  border: 0px;
  margin-right: 0.5rem;
  background:#f1492c;
  border-radius: 0.25rem;
}

.button:hover {
  cursor: pointer;
  background: rebeccapurple;
  color: white;
}

.button:disabled {
  cursor: not-allowed;
}

